h1, h2, h3{
    margin: 2px;
}

.editorContainer{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px #aaaaaa;
}

  .servingSizeItem{
    width: 100%;
    padding: 30px 0 30px 0;
    border-top: 1px solid gray;
  }

  .servingSizeContainer{
    margin-top: 25px;
  }

  .servingSizeLeftContainer{
    width: 50%; 
    float: left;
    padding: 0 30px;
  }

  .servingSizeRightContainer{
    margin-left: 50%;
  }
  .servingSizeBtnsContainer, .pizzaTypeBtnsContainer{
    width: 30%;
    margin-left: 70%;
    display: flex;
    justify-content: space-evenly;
  }

  .pizzaTypeDetailsContainer{
    width: 70%;
    float: left;
   padding-left: 45%;
  }

  .pizzaTypeItem{
      width: 100%;
      margin-top: 5px;
  }

  .pizzaTypeLeftContainer{
      width: 50%;
      float: left;
  }

  .pizzaTypeRightContainer{
      margin-left: 50%;
  }

  .pizzaTypeText{
    float: right;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 5px;
  }
  
  .pizzaImages{
    transform: rotate(180deg);
  }

  .servingSizeImages{
      width: 20px;
  }
  .servingSizeText{
    margin: 0 10px;
    display: inline;
    text-transform: uppercase;
  }

.content-container {
    margin: 0 auto;
    padding: 0 8px;
    max-width: 960px; 
    @media (min-width: 720px) {
          padding: 24px 80px;
    }
}

.app-container{
    background-color: darkslategray;
    padding: 20px;
    border-radius: 5px;
}

.title{
    text-align: center;
    color: lightseagreen;
    font-size: 30px;
    font-weight: bold;
}

.totalTitle{
  @extend .title;
  text-transform: capitalize;
}

.totalContainer{
  display: flex;
  justify-content: space-between;
  margin: 25px 50px;
}

.total{
  font-weight: bold;
}

.count{
  font-size: 20px;
    color: dimgray;
}

.outerSubtitle{
  font-size: 20px;
  display: inline;
  text-transform: capitalize;
  margin: 0;
}

.innerSubtitle{
  @extend .outerSubtitle;
  font-weight: bold;
}